@charset "Shift_JIS";

/*============================================
全般的なスタイル
============================================*/
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/
	font-family : Courier New,'游ゴシック',sans-serif ;

} 

body {
	text-align:left;	/*テキストの配置を左揃えにする*/
	background-color:#444444;		/*内容全体の背景色*/
}

/*============================================
ヘッダ
============================================*/
div#header {
	width 100%; height:10%; /* 横幅・高さ調整 */
	margin:10px 10px 10px 25px;	/*位置調整（IE6のバグに注意）*/
	background-image:url("images/bg_header.png");	/*ヘッダ部分の背景画像*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#cccccc;		/*ヘッダ部分の背景色*/
}
h1 {
	padding:20px 0px 0px 30px;		/*見出し内容の位置調整*/
	font-family:Arial, Helvetica, sans-serif;	/*フォントの種類*/
}
h1 a {text-decoration:none;} 			/*リンクの下線を無くす*/

/*============================================
サブメニュー（左カラム）
============================================*/
div#submenu {
	width:20%; height:80%; /* 横幅・高さ調整 */
	margin:10px 10px 10px 25px;	/*位置調整（IE6のバグに注意）*/
	display:inline;			/*IE6のマージン算出のバグ対策*/
	float:left;			/*サブメニューのカラムを左寄せにする*/
}

/*サブメニューのヘッダ部分（余白調整・背景色・文字サイズなど）*/
div#submenu_header {
	height:26px; padding:4px 0px 0px 0px;
	background-color:#cccccc;
	font-size:100%; font-weight:bold; text-align:center;
}

/*サブメニューのボディ部分（余白調整・背景色）*/
ul#submenu_body {
	padding-bottom:6px;
	background-color:#cccccc;
}
ul#submenu_body li {
	font-size:90%;			/*文字サイズを90%にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	display:inline;			/*リスト項目をインライン表示にする*/
}
ul#submenu_body li a {
	display:block;			/*リンクをブロック表示にする*/
	margin:0px 4px 0px 4px;		/*サブメニュー項目のマージン*/
	padding:2px 0px 2px 20px;	/*サブメニュー項目のパディング*/
	background-color:#eeeeee;	/*サブメニュー項目の背景色*/
	text-decoration:none;		/*リンクの下線を無くす*/
}
ul#submenu_body li a:hover {
	background-color:#ffffff;	/*リンクにマウスが乗ったら色を変える*/
}

/*============================================
コンテンツ
============================================*/
div#content {
	width: 74%; height:80%; /* 横幅・高さ調整 */
	margin:10px 10px 10px 10px;	/*位置調整（IE6のバグに注意）*/
	float:left;					/*カラムを左寄せにする*/
	background-color:#eeeeee;	/*サブメニュー項目の背景色*/
}

/*コンテンツのタイトル部分（文字サイズ・背景色・下線）*/
div#title {
	font-size: 120%; /* フォントサイズ */
	margin:10px 10px 10px 10px;	/*位置調整（IE6のバグに注意）*/
	font-stretch: extra-expanded; /* 行の幅を広くする */
	border-bottom:solid 1px #cccccc; /* 下線の設定 */
}

/*コンテンツの記事部分（文字サイズ・背景色）*/
div#text {
	font-size: 80%;
	margin:10px 10px 10px 10px;	/*位置調整（IE6のバグに注意）*/
}

/*============================================
フッタ
============================================*/
div#footer {
	width 100%; height:10%; /* 横幅・高さ調整 */
	margin:10px 10px 10px 25px;	/*位置調整（IE6のバグに注意）*/
	clear:both;					/*回り込みを解除する*/
	background-image:url("images/bg_footer.png");	/*フッタ部分の背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#cccccc;			/*フッタ部分の背景色*/
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:5px 0px 5px 0px;		 /*要素内容の位置調整*/
}